# SF Salaries Exercise

Pada latihan kali ini kita akan lebih mengenal library pandas. Dataset yang akan kita gunakan adalah [SF Salaries](https://www.kaggle.com/kaggle/sf-salaries) dari Kaggle! Ikuti saja dan selesaikan tugas yang diuraikan dalam huruf tebal di bawah ini.

**Import pandas as pd**

In [1]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal**

In [21]:
sal = pd.read_csv('https://raw.githubusercontent.com/fwznbg/dsdm_dataset/main/week1/Salaries.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

**Check the head or tail of the DataFrame**

In [23]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the `info()` method to find out how many entries there are.**

In [24]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**What is the job title of Joseph Driscoll ?** Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).

In [27]:
sal[sal['EmployeeName'] == 'Joseph Driscoll']['JobTitle']

36198    Captain, Fire Suppression
Name: JobTitle, dtype: object

**How much does Joseph Driscoll make (including benefits)?**

In [28]:
sal[sal['EmployeeName'] == 'Joseph Driscoll']['TotalPayBenefits']

36198    331834.79
Name: TotalPayBenefits, dtype: float64

**What is the average BasePay?**

Hint: check datatype and use numpy library

In [29]:
import numpy as np

In [42]:
sal['BasePay'] = sal['BasePay'].replace('Not Provided', np.nan).astype('float')
sal['BasePay'] = pd.to_numeric(sal['BasePay'])

In [43]:
np.mean(sal['BasePay'])

66325.4488404877

**What is the highest amount of OvertimePay in the dataset?**

In [48]:
sal['OvertimePay'] = sal['OvertimePay'].replace('Not Provided', np.nan).astype('float')
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'])
sal['OvertimePay'].max()

245131.88

**What is the name of highest paid person (including benefits)?**

In [51]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [52]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [53]:
sal['TotalPayBenefits'].min()

-618.13

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [66]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [61]:
sal['JobTitle'].nunique()

2159

**What are the top 5 most common jobs?**

In [68]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [70]:
sum(sal[sal['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

**Is there a correlation between length of the Job Title string and Salary?**

In [71]:
sal['title_len'] = sal['JobTitle'].apply(len)
sal[['TotalPayBenefits', 'title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000